body{
  margin: 0;
  padding: 0;
  background: linear-gradient(#13466d,#50156b71, #0d1423);
}
.container{
  width: 100%;
  height: 100%;
  align-content: cover;
  margin: 10px 200px 200px 200px;
  padding: 10px 200px 100px;  
}
.App {
  display: grid;
  grid-template-areas: 'myArea myArea myArea myArea myArea ';
  gap: 4px;
  max-width: 100%;
  text-align: center;
  
}
.box{
  grid-area: myArea;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(23, 24, 26);
}
.box2{
  grid-area: myArea ;
  text-align: left;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: rgb(61, 86, 107);
}
.mybtn{
  background-color: rgb(28, 28, 170);
  border-radius: 8px;
  border: none;
  width: 16rem;
  color: white;
  cursor: pointer;
}
.area, .input, .select{
  width: 16rem;
  border-radius: 8px;
  margin: 2px;
}
.select {
  text-align: center;
}
.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
  color: rgb(34, 7, 68);  
}
.main{
  background-color: rgb(176, 184, 218);
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main p{
  text-align: center;
}
.cards{
  transition: transform 500ms ease;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 25);
  border-radius: 20px;
}
.cards:hover {
  transform: scale(1.05);
}
